@model IEnumerable<CommunityConnectionPT.Models.ApplicationModels>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "New")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearlyIncome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medicine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Insurance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>

        <th></th>
    </tr>

    @foreach (var users in Model)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => users.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => users.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => users.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => users.YearlyIncome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => users.Medicine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => users.Insurance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => users.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => users.PhoneNumber)
            </td>


            <td>
                @Html.ActionLink("Email", "SendEmail","Account", new { id = users.Id }) |
                @Html.ActionLink("Edit", "Edit", new { id = users.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = users.Id })
            </td>
        </tr>
    }

</table>

<p>Use this area to provide additional information.</p>

